# Airtable OAuth Setup
AIRTABLE_CLIENT_ID=your_client_id
AIRTABLE_CLIENT_SECRET=your_client_secret
AIRTABLE_REDIRECT_URI=http://localhost:5000/auth/callback

# MongoDB
MONGODB_URI=your_local_or_cloud_mongo_url

# Session / Cookie (backend)
SESSION_SECRET=this_is_temp_secret

# Webhook Config
AIRTABLE_WEBHOOK_BASE_ID=your_base_id
AIRTABLE_WEBHOOK_SECRET=your_webhook_secret

# Server URL
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
